
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}


.modal-content {
  background-color: #1f2937; 
  padding: 2rem;
  border-radius: 0.75rem;
  width: 90%;
  max-width: 500px;
  position: relative;


  color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border: 1px solid #374151;
}


.modal-tittle {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-decoration: underline;

  font-weight: 600;
  text-align: center;
}



.btn-cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255, 0, 0, 0.432);
  /* background: rgba(245, 141, 141, 0.432); */
  /* background: rgba(236, 85, 85, 0.938); */
  border: solid 1px black;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 0.8;
  padding: 0.3rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.btn-cerrar:hover {
  color: white;
  background-color: #ff0000;
}


.form-grupo {
  margin-bottom: 1.3rem;
}

.form-grupo label {
  display: block;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #d1d5db;
}


.form-grupo input,
.form-grupo select {
  width: 100%;
  padding: 0.75rem;
  background-color: #111827; 
  border: 1px solid #374151;


  border-radius: 0.5rem;
  color: white;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.form-grupo input:focus,
.form-grupo select:focus {
  border-color: #3b82f6;
  outline: 2px solid #3b82f6;
}

.form-grupo input::placeholder {
  color: #6b7280;
}


.btn-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #2563eb; 
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;

  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0.5rem;
}

.btn-submit:hover {
  background-color: #1d4ed8;
}
