
.torneos-header-container {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  
  background-color: transparent; 
  padding: 2rem 1rem 2rem 1rem; 
  
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.title-container {
  display: flex;
  align-items: center;
  background-color: rgba(65, 74, 98, 0.85);;
  border-radius: 50px; 
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  color: #ffffff; /* Texto oscuro */
  height: 48px; 
}

.torneos-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.5px;
}


.controles-pill {
  display: flex;
  align-items: center;
  gap: 0.8rem; 
  
  background-color: rgba(65, 74, 98, 0.85);
  border-radius: 50px; 
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 48px; 
}



.buscador-container {
  position: relative;
  display: flex;
  align-items: center;
  order: 1; 
}

.buscador-icon {
  color: #333; 
  position: absolute;
  left: 12px;
  width: 16px;

  height: 16px;
  pointer-events: none;
  z-index: 10; 
}

.buscador-input {
  background-color: #FFFFFF; 
  color: #333; 
  border: none;
  border-radius: 20px; 
  

  padding: 0.6rem 1rem 0.6rem 35px; 
  font-size: 0.9rem;
  outline: none;
  width: 180px; 
  transition: box-shadow 0.2s;
}

.buscador-input::placeholder {
  color: #a0a4b8;
}

.buscador-input:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}



.filtros-container {
  display: flex;
  gap: 0.3rem;
  font-size: rem; 
  order: 2;
}


.filtros-btn {
  background-color: rgba(23, 26, 40, 0.9);
  border: none;
  color: #c0c4d3;
  padding: 0.6rem 1rem; 
  border-radius: 20px; 
  font-size: 0.85rem; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filtros-btn:hover {
  background-color: #7daceb;
  color: white;
}




.filtros-btn.active.active-todos {
  background-color: #1d72e8; 
  color: white;
}


.filtros-btn.active.active-activos {
  background-color: #28a745; 
  color: white;
}


.filtros-btn.active.active-proximos {
  background-color: #ffc107; 
  color: #333; 
}


.filtros-btn.active.active-inactivos {
  background-color: #dc3545; 
  color: white;
}